* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    border: none;
    color: black;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.new_banner_sec {
    /* padding-top: 90px; */
    background: linear-gradient(rgb(35 64 145 / 24%) -13.49%, rgba(71, 178, 126, 0) 81.4%) !important;
}

.banner_heading {
    color: #2E3D62;
    font-size: 34px;
    line-height: 1.3em;
    font-weight: 700;
}

.banner_brief {
    padding: 5px 0;
    color: #000;
    opacity: 0.9;
    font-size: 18px;
}

.avatar {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.avatar_brief {
    font-size: 16px !important;
    padding: 5px 15px;
    text-align: left;
    font-weight: 500;
    color: #000;
    opacity: 0.9;
    line-height: 1.8;
}

.book_btn {
    background-color: #7bc245;
    border-radius: 10px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    color: #fff;
    box-shadow: 0 0 40px 40px #7bc245 inset;
    border: 1px solid transparent;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.6s !important;
}

.book_btn:hover {
    border: 1px solid #7bc245;
    color: #7bc245;
    background-color: #fff;
    box-shadow: unset;

}

.new_btn {
    max-width: 250px;
    width: 100%;
    display: block;
    margin: 0 auto 0 0;
    padding-left: 15px;
}

.avatar_img {
    border-radius: 70px;
    height: 120px;
    max-width: 120px;
    width: 100%
        /* object-fit: cover ; */
}

.avatar-content {
    background: url("/pffshore_softwares/assets/images/mid.png.png");
    background-size: 100%;
    align-items: flex-start;
    padding: 0 15px;
    /* background-repeat: no-repeat; */
}

.new_img{
    width:100%;
}

.new_slider .swiper-wrapper{
    transition: all 2s ease 0s;
    transition-duration: 2s !important;
}

.new_slider .swiper-wrapper .swiper-slide{
    display: grid;
    place-items: center;
}

.new_slider .swiper-wrapper .swiper-slide img{
    width: auto;
    opacity: 0.5;
    filter: brightness(0);
    display: block;
    transition: 0.6s;
    transform: scale(1);
}

.new_slider .swiper-wrapper .swiper-slide img:hover{
    filter: unset;
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

.row.new_slider{
    margin: 0;
    padding: 0 30px;
}

.new_shape{
    position: absolute;
    top: -35px;
    opacity: 0.2;
}

.infinityanimate div {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #8C6FF0;
    box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
    border-radius: 50%;
    -webkit-animation: newanimate 6.9s linear infinite;
    animation: newanimate 6.9s linear infinite;
    filter: url(#goo);
    transform: scaleX(-1);
    offset-path: path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z");
}

.infinityanimate div:before,
.infinityanimate div:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: inherit;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    box-shadow: inherit;
}

.infinityanimate div:after {
    -webkit-animation: drop2 0.8s linear infinite 0.4s;
    animation: drop2 0.8s linear infinite 0.4s;
}

.infinityanimate div:nth-child(2) {
    -webkit-animation-delay: -2.3s;
    animation-delay: -2.3s;
}

@keyframes drop2 {
    0% {
        transform: translate(0, 0) scale(0.9);
    }

    100% {
        transform: translate(32px, -8px) scale(0);
    }
}


.infinityanimate div:nth-child(3) {
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
}

@keyframes newanimate {
    0% {
        offset-distance: 0%;
    }

    25% {
        background-color: #5628EE;
    }

    75% {
        background-color: #23C4F8;
    }

    100% {
        offset-distance: 100%;
    }
}

.banner_slider{
    /* background: url("/pffshore_softwares/assets/images/bg-layer.png");
    background-repeat: no-repeat;
    background-size: contain; */
}

.banner_slider .swiper{
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0)
}

.banner_slider .swiper img{
    width: 100%;
    display: block;
}


.circleimg {
    animation: pulse 1s infinite ease-in-out alternate;
    top: 20px;
    left: -40px;
    opacity: 0.4;
}

.qa_heading{
    font-size: 24px;
    color: #4a4a4a;
    margin: 10px 0 25px;
    font-weight: 600;
    line-height: 1.2;
}

.qa_brief{
    color: #554d63;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.8;
}

.read_arrow{
    outline: none;
    text-decoration: none;
    padding-right: 13px;
    border-radius: 20px;
    font-weight: 600;
    color: #7bc245;
}

.read__arrow{
    color: #234091;
}

.tech_heading{
    font-size: 40px;
    color: #2E3D62;
    display: inline-block;
    margin: 0;
    line-height: 1.3;
    font-weight: bold;
}

.text-green{
    color: #7bc245;
}

.why_brief{
    font-size: 20px;
    margin-bottom: 0;
    color: #554d63;
    font-weight: 500;
    line-height: 1.8;
}


@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

.item-cards{
    position: relative;
    height: 100%;
    padding: 1.5em;
    background-color: #fff;
    transform: translateZ(0);
    will-change: transform;
    border-radius: 0.5em;
    text-align: left;
    box-shadow: 0 2px 25px 0 rgb(106 99 119 / 10%);
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.item-cards:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
}

.new_learn_more{
    font-size: 18px;
}

.why_swiper .swiper-slide img{
    width: 100%;
}

.why_swiper{
    background: url("/pffshore_softwares/assets/images/why-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.client_slider .swiper-slide{
    flex-direction: row;
} 

.client_slider .swiper-slide img{
    /* width: 100% */
}

.client_bg{
    background-color: #fff;
}

.qa__brief{
    text-align: left;
}

.qa_brief_weight{
    font-weight: 400;
    text-align: left;
}

.new_review:hover{
    text-decoration: underline;
}

.new_vert{
    display: grid;
    place-content: center;
}

.client_bg .swiper-button-prev{
    left: 93%;
}

.qa_slider .swiper-button-next{
    right: 89%;
}

.qa_slider .swiper-button-prev,.qa_slider .swiper-button-next{
    top: 60%
}

.qa_slider .swiper-button-next{
    left: 5%
}

.banner_contact{
    max-width: 548px;
    width: 100%;
    margin: 0 auto;
}

.contact_img img{
    width: 100%;
}

.cantact_sub_heading{
    font-size: 20px;
    margin: 24px 0 8px 0;
    color: #234091;
    text-transform: uppercase;
    font-weight: 700
}

.you__card:hover .cantact_sub_heading{
    color: #fff
}

.new_con{
    background-color: #F0F6FF;
}

/* .for_you_card.you__card:hover{
    background-color: unset;
} */

.feature-section .feature-box {
    display: flex;
    align-content: stretch;
}.icon-center .item-single {
    margin-top: 80px !important;
    padding-bottom: 0 !important;
    position: relative;
    /* margin-bottom: 24px; */
    padding: 1.5em;
    background-color: var(--text-white);
    border-radius: 0.5em;
    text-align: left;
    box-shadow: 0 2px 25px 0 rgb(106 99 119 / 10%);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    width: 100%;
    transform: translateZ(0);
    will-change: transform;
    transition: transform .15s ease-out !important;
    background-color: #FBF8F0 !important;
}
.icon-center .item-single img {
    top: -115px;
}
img.img-fluid-contact {
    max-width: 100%;
    height: auto;
    width: 100px;
    height: 130px;
    background-color: #fff;
    padding: 8px;
}

.feature-section .item-single .item-content {
    padding-top: 0;
    flex: 1 1 auto;
}

.icon-center .item-content {
    top: -40px;
}
.contact-info {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}


.contact-info .item-single .item-content .contact-info h4 {
    color: #000 !important;
}


.feature-section .bg-hover-none:hover, .bg-hover-none:hover {
    background-color: transparent !important;
}
.feature-section .item-single:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    transition: .6s !important;
}
.bg-green {
    background-color: #EFF6F1 !important;
}

.bg-blue {
    background-color: #EEF8FF !important;
}













@media (max-width: 575px){
    .new_slider .swiper-wrapper .swiper-slide img{
        width: 100%;
    }
    .client_slider .swiper-slide img {
        width: 100%;
    }
}

@media (max-width: 1024px){
    .why-tech-content{
        padding: 0 30px;
    }
    .banner_slider{
        padding: 25px 0;
    }
    .client_slider .swiper-slide{
        flex-direction: column-reverse;
    }
    .new_review{
        margin-top: 25px;
        display: inline-block;
    }
    .client_bg .swiper-button-prev{
        left: 84%;
    }

    .qa_slider .swiper-slide{
        flex-direction: column-reverse;
    }
    .qa_slider .swiper-button-prev,.qa_slider .swiper-button-next{
        top: 96%;
    }
    .qa_slider .swiper-button-next{
        left: 10%
    }
    .new_bn_spacer{
        margin-left: 12px !important;
    }
}

@media (max-width: 767px){
    .qa_slider .swiper-button-prev,.qa_slider .swiper-button-next{
        top: 94%;
    }
    .qa_slider .swiper-button-next{
        left: 20%
    }
    .client_bg .swiper-button-prev,.client_bg .swiper-button-next{
        top: 96%
    }
    .new_review {
        margin-top: 0px;
        display: inline-block;
    }

    .client_slider .qa_new_slider{
        margin-bottom: 30px;
    }
    .client_bg .swiper-button-prev {
        left: 80%;
    }
    .client_bg .swiper-button-next {
        left: 92%;
    }
}


.new_img {
    width: 100%;
}
