dl,
ol,
ul,
h2,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container_hf {
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 16px 0;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    z-index: 9;
}

.navbar_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 200px;
    width: 100%;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.nav_link {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all 0.3s;
}

.nav_link:hover {
    color: #7bc245;
}

.nav_link:hover path {
    stroke: #7bc245;
    transition: all 0.3s;

}

.header_btn {
    padding: 10px 35px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #7bc245;
    border-radius: 50px;
    color: #7bc245;
}

.header_btn:hover {
    background: #7bc245;
    color: #fff;
    transition: all 0.5s;
}

.hamburger {
    display: none;
}

.nav_dropdown {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 32px;
    background: #fafafa;
    border-top: 3px solid #7bc245;
    border-radius: 5px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav_link:hover+.nav_dropdown {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.nav_dropdown:hover {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.dropdown_item::before {
    content: '\f192';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    padding-right: 10px;
    color: #6a6377;
}

.dropdown_item:hover .dropdown_link {
    color: #7bc245;
}

.dropdown_item:hover.dropdown_item::before {
    color: #7bc245;
}

.dropdown_title {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 0;
    color: #7bc245;
    text-transform: uppercase;
}

.dropdown_link {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    padding: 11px 0;
    color: #121212;
    line-height: 1;
}

.right_dropdown_img {
    max-width: 376px;
    width: 100%;
}

.dropdown_center {
    margin-top: 46px;
}

.nav_tech .right_dropdown,
.nav_about_us .right_dropdown {
    max-width: 240px;
    width: 100%;
    align-self: center;
}


@media (max-width:1100px) {
    .nav_link {
        font-size: 15px;
    }

    .nav_list {
        gap: 16px;
    }
}

@media (max-width:991px) {
    .nav_list {
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-end;
        position: fixed;
        max-width: 250px;
        padding: 30px 40px;
        width: 100%;
        top: 85px;
        right: -100%;
        background: #fff;
        height: 100vh;
        transition: all 0.8s cubic-bezier(0.71, 0, 0.33, 1.46);
        overflow-y: auto;
    }

    .nav_list.active {
        right: 0;
    }

    .header_btn {
        display: none;
    }

    .hamburger {
        display: block;
        width: 32px;
        height: 32px;
    }
}


/* Footer  */
.footer {
    background-image: url(/assets/images/footer-bg.png);
    background-size: cover;
    padding-top: 170px;
    overflow: hidden;
}

.footer_content {
    display: flex;
    column-gap: 15px;
    border-bottom: 1px solid #554d63;
}

.footer_left,
.footer_middle,
.footer_right {
    width: 33.333%;
}

.footer_heading {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: #393939;
    font-weight: 500;
    line-height: 1.2;
}

.footer_link {
    display: inline-block;
    margin-bottom: 10px;
}

.foter_item:hover .footer_link {
    color: #7bc245;
}

.footer_center {
    display: flex;
    gap: 15px;
}

.footer-50 {
    width: 50%;
}


@media (max-width:991px) {
    .footer_content {
        flex-wrap: wrap;
        gap: 40px;
    }

}

@media (max-width:768px) {
    .footer_content {
        flex-direction: column;
    }

    .footer_left {
        width: 100%;
    }

    .footer_middle {
        width: 60%;
    }

    .footer_right {
        width: 60%;
    }
}

@media (max-width:580px) {

    .footer_left,
    .footer_middle,
    .footer_right {
        width: 100%;
    }

}

/* lower_footer */
.lower_footer{
    padding: 24px 0;
}
.lower_footer_item {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(5, 1fr);

}

.lf_usa {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}
.lf_heading{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #393939;
    font-weight: 500;
    line-height: 1.2;
}

.lf_usa img{
    width: 40px;
    height: 40px;
}
.lf_para{
    color: #554d63;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
}
.contact_img{
    width: 20px;
    height: 20px;
}
.contact_item{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    margin-bottom: 5px;
    font-weight: 500px;
}


@media (max-width:1000px) {
    .lower_footer_item {
        display: grid;
        gap: 45px;
        grid-template-columns: repeat(3, 1fr);
    
    }
}


@media (max-width:768px) {
    .lower_footer_item {
    
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    }
    .lf_usa{
        margin-bottom: 24px;
    }
}
@media (max-width:600px) {
    .lower_footer_item {
    
        grid-template-columns: repeat(1, 1fr);
    
    }
}